body{
    background-color:rgb(253, 231, 204) ;
}
.classe{
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #777;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.classe:hover{
    border-color: crimson;
}

.c1{
    background-color: #000 ;
    color:aquamarine
}

.c2{
    background-color: aquamarine;
    color: #000;
    
}

.destc1{
    background-color: rgb(240, 248, 255) !important;
    color: rgb(6, 6, 247) !important;
    border-color: rgb(20, 122, 0) !important;
}

.destc2{
    background-color: rgb(96, 3, 128) !important;
    color: rgb(255, 186, 255) !important;
    border-color: rgb(255, 0, 0) !important;
}
.background{
    background-color: rgb(253, 231, 204);
    display: flex;
    justify-content: space-between;
}
.new{
    background-color: rgb(24, 24, 24) !important;
    color: rgb(240, 245, 248);
}
.left{
    border: 5px solid rgb(167, 143, 65);
    width: 50%;
}
.right{
    border: 5px solid rgb(153, 68, 115);
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}
.mgd{
    color: darkgray;
}
.mustaine1{
    color: rgb(29, 6, 46) !important; 
}
.mustaine2{
    color: rgb(75, 0, 130) !important;
    font-size: large !important;
}

